/* You can add global styles to this file, and also import other style files */
body {
	margin:0;
	background: lightgray;
	font-family: 'Montserrat',sans-serif;
	height: 100vh;
}

#container {
	display: grid;
	grid-template-columns: 70px auto;
	height: 100%;
}

#content {
	padding: 30px 50px;
}

.card {
	padding:1rem;
	background-color: #fff;
	margin: .5rem;
	border-radius: 8px;
}