@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

#content {
	padding: 30px 50px;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

a {
	text-decoration: none;
}